body {
  background-color: #e8f0fe;
  font-family: "Roboto", sans-serif;
}

a {
  color: #ffd800;
}

.weather-app {
  background-color: #2461e5;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.search-input {
  background-color: #f9f7fe;
  border: none;
  color: #ffd800;
  font-size: 16px;
  padding: 20px;
  width: 98%;
  border-radius: 6px;
  display: block;
  margin: 0 auto;
}

.material-symbols-outlined {
  font-size: 40px;
  color: #2461e5;
  position: absolute;
  left: 799px;
  top: 99px;
}
.material-symbols-outlined:hover {
  border: 1px solid transparent;
  background-color: #2461e5;
  width: 80px;
  border-radius: 5px;
  color: #e8f0fe;
}

main {
  padding: 25px 0;
}

.current-temperature {
  font-size: 40px;
  text-align: center;
  position: relative;
  left: -21px;
  top: -13px;
}

.current-weather {
  display: flex;
  justify-content: space-evenly;
}

#current-date {
  display: block;
  position: relative;
  top: -18px;
  left: -1px;
  color: #fff;
  font-size: 20px;
}

.current-city {
  position: relative;
  right: -13px;
  top: 7px;
  font-size: 46px;
  font-weight: 900;
  margin: -5px;
  color: #fff;
}
.current-details {
  display: inline-block;
  color: #ffd800;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.current-details strong {
  color: #fff;
}

.condition {
  font-weight: bold;
  font-size: 30px;
  margin-left: 0;
}

.current-temperature-icon {
  position: relative;
  top: -9px;
  font-size: 30px;
  margin-right: 2px;
  margin-bottom: -43px;
}

.current-temperature-value {
  font-size: 66px;
  font-weight: bold;
  color: #fff;
}

.current-temperature-unit {
  font-size: 28px;
  position: relative;
  top: -38px;
  color: #fff;
}

ul {
  list-style-type: none;
  padding-top: 60px;
  color: #fff;
}

li {
  display: inline-block;
  margin: 0;
  padding: 10px;
  font-size: 1em;
}
strong {
  color: #ffd800;
}
footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 15px;

  color: rgba(39, 33, 66, 0.4);
}
